*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@font-face {
  font-family: 'Helvetica Nueu LT Pro';
  font-weight: 300;
  src: url(HelveticaNeueLTPro-LtEx.otf);
}

:root {
  --wht: #fff;
  --lghblk: #1d1d1d;
  --blk: #000000;
  --secbg: #FAFAFA;
}

img {
  max-height: 100%;
}

video {
  max-height: 100%;
  max-width: 100%;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Nueu LT Pro';
  color: var(--blk);
  font-size: 500;
}

p {
  font-size: 18px;
}

.container {
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

header {
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

header .header-wrapper {
  padding: 0 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

header .header-wrapper .title {
  font-size: 25px;
  font-weight: 400;
  color: var(--blk);
}

[data-scroll] {
  will-change: transform;
}

.content {
  position: relative;
  counter-reset: figure;
}

#hero {
  height: auto;
  padding: 5em 2em;
}

#hero .hero-wrapper {
  padding: 5em 0;
}

#hero .hero-wrapper .sub-title {
  font-weight: 300;
  font-size: 20px;
}

#hero .hero-wrapper .main-title {
  font-weight: 300;
  font-size: 5em;
  width: 80%;
  line-height: 1.2em;
  color: var(--blk);
}

.card {
  max-width: 100%;
  position: relative;
  height: auto;
}

.card .overflow {
  --aspect-ratio: 1/1.5;
  overflow: hidden;
  width: 100%;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
  max-width: calc(100% - 0rem);
  will-change: transform;
}

.banner-1,
.banner-2 {
  height: 90vh;
}

.image {
  --overflow: 40px;
  height: calc(100% + (2 * var(--overflow)));
  top: calc( -1 * var(--overflow));
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.card .banner-1,
.card .banner-2 {
  --aspect-ratio: 50/30;
}

.first-banner .banner-1 .img--t1 {
  --aspect-ratio: 50/30;
}

.second-banner .banner-2 .img--t2 {
  --aspect-ratio: 50/30;
}

.card .overflow .img--t1,
.card .overflow .img--t2 {
  --overflow: 100px;
}

#about {
  height: 70vh;
  width: 100%;
  padding: 0 2em;
}

#about .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}

#about .about-wrapper .about-title {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  color: var(--blk);
}

#about .about-wrapper .about-description {
  line-height: 1.5em;
  width: 100%;
}

#second-banner {
  height: 100vh;
  width: 100%;
  background: url("banner2.png") no-repeat;
  background-size: cover;
}

video {
  cursor: url(cursor.png), auto;
}

#design-process {
  height: auto;
  padding: 5em 3em;
  background: var(--wht);
}

#design-process .design-process-wrapper {
  width: 100%;
}

#design-process .design-process-wrapper .design-process-title .design-title {
  font-weight: 300;
  font-size: 3em;
  letter-spacing: -2px;
  line-height: 1em;
  color: var(--blk);
}

#design-process .design-process-wrapper .design-process-content {
  padding: 7em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 7em;
}

#design-process .design-process-wrapper .design-process-content .card-1 {
  background: url("discovery.png") no-repeat center;
  background-size: cover;
  cursor: url(cursor.png), auto;
}

#design-process .design-process-wrapper .design-process-content .card-2 {
  background: url("experience-pro.png") no-repeat center;
  background-size: cover;
  cursor: url(cursor.png), auto;
}

#design-process .design-process-wrapper .design-process-content .card-3 {
  background: url("low-feli.png") no-repeat center;
  background-size: cover;
  cursor: url(cursor.png), auto;
}

#design-process .design-process-wrapper .design-process-content .card-4 {
  background: url("high.png") no-repeat center;
  background-size: cover;
}

#design-process .design-process-wrapper .design-process-content .design-process-card {
  height: 548px;
  width: 367px;
  position: relative;
  padding-bottom: 5em;
}

#design-process .design-process-wrapper .design-process-content .design-process-card .card-photo {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#design-process .design-process-wrapper .design-process-content .design-process-card .card-photo img {
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

#design-process .design-process-wrapper .design-process-content .design-process-card .card-photo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#design-process .design-process-wrapper .design-process-content .design-process-card .card-content {
  margin-top: 1em;
}

#design-process .design-process-wrapper .design-process-content .design-process-card .card-content p {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 2em;
  text-align: center;
  line-height: 1.5em;
}

#design-process .design-process-wrapper .design-process-content .design-process-card .card-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#design-process .design-process-wrapper .design-process-content .design-process-card .card-btns .card-btn {
  color: var(--blk);
  position: relative;
  font-weight: 600;
}

#design-process .design-process-wrapper .design-process-content .design-process-card .card-btns .card-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--blk);
  height: 1px;
  width: 0px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

#design-process .design-process-wrapper .design-process-content .design-process-card .card-btns .card-btn:hover::before {
  width: 55%;
}

#design-process .design-process-wrapper .design-process-content .design-process-card .card-btns .card-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--blk);
  height: 1px;
  width: 0px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

#design-process .design-process-wrapper .design-process-content .design-process-card .card-btns .card-btn:hover::after {
  width: 55%;
}

#design-process .design-process-wrapper .card-stretch {
  height: 548px;
  width: 100%;
  position: relative;
  padding: 5em 0;
}

#design-process .design-process-wrapper .card-stretch .card-5 {
  background: url("arts.jpg") no-repeat center;
  background-size: cover;
  cursor: url(cursor.png), auto;
}

#design-process .design-process-wrapper .card-stretch .card-photo {
  height: 100%;
  width: 100%;
}

#design-process .design-process-wrapper .card-stretch .card-photo img {
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

#design-process .design-process-wrapper .card-stretch .card-photo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#design-process .design-process-wrapper .card-stretch .card-content {
  margin-top: 1em;
}

#design-process .design-process-wrapper .card-stretch .card-content p {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 2em;
  text-align: center;
  line-height: 1.5em;
}

#design-process .design-process-wrapper .card-stretch .card-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#design-process .design-process-wrapper .card-stretch .card-btns .card-btn {
  color: var(--blk);
  position: relative;
  font-weight: 600;
}

#design-process .design-process-wrapper .card-stretch .card-btns .card-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--blk);
  height: 1px;
  width: 0px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

#design-process .design-process-wrapper .card-stretch .card-btns .card-btn:hover::before {
  width: 55%;
}

#design-process .design-process-wrapper .card-stretch .card-btns .card-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--blk);
  height: 1px;
  width: 0px;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

#design-process .design-process-wrapper .card-stretch .card-btns .card-btn:hover::after {
  width: 55%;
}

#our-team {
  background: var(--secbg);
  height: auto;
  padding: 5em 3em;
}

#our-team .our-team-wrapper .our-team-title {
  padding-top: 1em;
}

#our-team .our-team-wrapper .our-team-title h1 {
  font-weight: 200;
  font-size: 3em;
  letter-spacing: -2px;
  line-height: 1em;
  color: var(--blk);
}

#our-team .our-team-wrapper .our-team-content {
  padding: 7em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 5em;
}

#our-team .our-team-wrapper .our-team-content .card-photo-1 {
  background: url("randel.png") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .our-team-content .card-photo-2 {
  background: url("ryan.png") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .our-team-content .card-photo-3 {
  background: url("rb.png") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .our-team-content .card-photo-4 {
  background: url("edward.png") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .our-team-content .card-photo-5 {
  background: url("jam.png") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .our-team-content .card-photo-6 {
  background: url("acosta.png") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .our-team-content .card-photo-7 {
  background: url("datu.png") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .our-team-content .card-photo-8 {
  background: url("glace.png") no-repeat center;
  background-size: cover;
}

#our-team .our-team-wrapper .our-team-content .our-team-card {
  height: 548px;
  width: 367px;
}

#our-team .our-team-wrapper .our-team-content .our-team-card .card-photo {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#our-team .our-team-wrapper .our-team-content .our-team-card .card-photo img {
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

#our-team .our-team-wrapper .our-team-content .our-team-card .card-photo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#our-team .our-team-wrapper .our-team-content .our-team-card .card-content {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#our-team .our-team-wrapper .our-team-content .our-team-card .card-content p {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 1em;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
}

#our-team .our-team-wrapper .our-team-content .our-team-card .card-content .discovery-p {
  width: 80%;
}

.footer {
  padding: 2em 0;
}

.footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-wrapper .footer-title {
  font-size: 12px;
}

@media (max-width: 900px) {
  p {
    font-size: 16px;
  }
  .container {
    padding: 0 2em;
  }
  header .header-wrapper {
    padding: 0 2em;
  }
  #hero .hero-wrapper .sub-title {
    font-size: 18px;
  }
  #hero .hero-wrapper .main-title {
    font-size: 2.8em;
    width: 60%;
  }
  #design-process {
    padding: 5em 0;
  }
  #design-process .design-process-wrapper .design-process-title .design-title {
    font-size: 2.5em;
  }
  #design-process .design-process-wrapper .design-process-content {
    padding: 4em;
  }
  #design-process .design-process-wrapper .design-process-content .design-process-card {
    height: 450px;
    width: 100%;
  }
  #design-process .design-process-wrapper .design-process-content .design-process-card .card-content p {
    font-size: 16px;
  }
  #our-team {
    padding: 5em 0;
  }
  #our-team .our-team-wrapper .our-team-title h1 {
    font-size: 2.5em;
  }
  #our-team .our-team-wrapper .our-team-content {
    padding: 4em;
  }
  #our-team .our-team-wrapper .our-team-content .our-team-card {
    height: 450px;
    width: 320px;
  }
  #our-team .our-team-wrapper .our-team-content .our-team-card .card-content p {
    font-size: 16px;
  }
}

@media (max-width: 770px) {
  #hero .hero-wrapper .sub-title {
    font-size: 18px;
  }
  #hero .hero-wrapper .main-title {
    width: 80%;
  }
  #about {
    height: 80vh;
  }
  #about .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #about .about-title {
    text-align: center;
  }
  #about .about-description {
    width: 100%;
    text-align: center;
  }
  #design-process {
    padding-bottom: 5em;
  }
  #design-process .design-process-wrapper .design-process-title .design-title {
    font-size: 2.3em;
  }
  #design-process .design-process-wrapper .design-process-content {
    padding: 4em 0;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  #design-process .design-process-wrapper .design-process-content .design-process-card {
    height: 700px;
    width: 100%;
  }
  #design-process .design-process-wrapper .design-process-content .design-process-card .card-title {
    margin-bottom: 0;
  }
  #design-process .design-process-wrapper .design-process-content .design-process-card .card-content p {
    font-size: 16px;
  }
  #design-process .design-process-wrapper .design-process-content .design-process-card .card-photo {
    height: 100%;
    width: 100%;
  }
  #design-process .design-process-wrapper .design-process-content .card-2,
  #design-process .design-process-wrapper .design-process-content .card-4 {
    margin-top: 0;
  }
  #design-process .design-process-wrapper .card-stretch {
    padding-bottom: 10em;
  }
  #our-team {
    padding: 5em 0;
  }
  #our-team .our-team-wrapper .our-team-title h1 {
    font-size: 2.3em;
  }
  #our-team .our-team-wrapper .our-team-content {
    padding: 4em 0;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  #our-team .our-team-wrapper .our-team-content .our-team-card {
    height: 600px;
    width: 100%;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 2.2em;
  }
  #hero {
    padding: 5em 0em;
  }
  #hero .hero-wrapper .main-title {
    width: 100%;
    font-size: 2.3em;
  }
}
/*# sourceMappingURL=style.css.map */